.nitro-toolbar {
  position: absolute;
  left: 0;

  height: 100%;
  z-index: $toolbar-zindex;
  pointer-events: all;
  background: #444444;

  .navigation-item {
    &:not(:first-child) {
      margin-top: 13px;
    }

    position: relative;

    &.item-avatar {
      width: 50px;
      height: 45px;
      overflow: hidden;

      .avatar-image {
        margin-left: 0;
        margin-top: 45px;
      }
    }

    &:hover {
      -webkit-transform: translate(-1px, -1px);
      transform: translate(-1px, -1px);
      filter: drop-shadow(2px 2px 0 rgba($black, 0.8));
    }

    &.active,
    &:active {
      -webkit-transform: unset;
      transform: unset;
      filter: none;
    }
  }
}

.toggle-toolbar-btn{
  &:focus {
    outline: none;
    color: black;
  }
}
#toolbar-chat-input-container {
  position: fixed;
  left: 90px;
  bottom: 10px;
  @include media-breakpoint-down(sm) {
    width: 0px;
    height: 0px;
  }

  &.no-toolbar{
    left: 10px;
  }
}

.nitro-toolbar-me {
  position: absolute;
  bottom: 60px;
  left: 87px;
  z-index: $toolbar-memenu-zindex;
  border-image-source: url(@/assets/flash/toolbar/me_menu_bg.png);
  border-image-slice: 6 6 6 6 fill;
  border-image-width: 6px 6px 6px 6px;

  .navigation-item {
    transition: filter .2s ease-out;
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0) drop-shadow(2px 2px 0 rgba($black, 0.8));
    }
  }
}

.toolbar-icon-animation {
  position: absolute;
  object-fit: cover;
  height: auto;
  width: auto;
  max-width: 120px;
  max-height: 150px;
  z-index: 500;
  filter: drop-shadow(2px 1px 0 rgba($white, 1)) drop-shadow(-2px 1px 0 rgba($white, 1)) drop-shadow(0 -2px 0 rgba($white, 1));
}
