.nitro-loading {
  position: relative;
  background: #000000;

  .percent {
    font-size: 17px;
    color: #999999;
  }

  .loadingPhoto {
    background-image: url("@/assets/images/loading/retro.png");
    width:111px;
    height: 54px;
  }

  .nitro-loading-bar {
    border: 1px solid white;
    padding: 3px;
    height: 20px;
    width: 400px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      margin: 3px;
      border-radius: 4px;
      background: #000;
      z-index: 0;
    }

    .nitro-loading-bar-inner {
      height: 100%;
      z-index: 4;
      transition: width 1s;
      background: #FFF;
    }
  }
}
