.nitro-purse-container {
  pointer-events: all;
  padding-top: 0.25rem;
  u:hover {
    cursor: pointer;
    color: #cccccc;
  }
  .nitro-purse-button {
    padding: 2px 4px;
    border: 2px solid;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-family: sans-serif !important;
    text-shadow: 1px 2px 0px rgb(0 0 0);

    &.currency--1 {
      background: #9b6f1c;
      border-color: #c6a84b;
    }

    &.currency-0 {
      border-color: #7499a3;
      background: #527385;
    }

    &.currency-5 {
      background: #3878c1;
      border-color: #6caff4;
    }

    &.currency-hc {
      background: #a86409;
      border-color: #eda841;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .nitro-purse {

    .nitro-purse-subscription {
      background-color: rgba($light, 0.1);
    }

  }

  .nitro-purse-seasonal-currency {
    background-color: rgba($dark, .95);
    box-shadow: inset 0px 5px lighten(rgba($dark, .6), 2.5), inset 0 -4px darken(rgba($dark, .6), 4);
  }
}
