.nitro-purse-container {
    font-size: $font-size-sm;
    pointer-events: all;

  .nitro-purse-button {
    padding: 8px;
    border: 1px solid white;
    &.currency--1 {
      background: #ce9c39;
    }
    &.currency-0 {
      background: #72a0ba;
    }
    &.currency-5 {
      background: #6caff4;
    }
    &:hover {
      background-color: rgba($light, 0.1);
    }
  }
    .nitro-purse {

        .nitro-purse-subscription {
            background-color: rgba($light, 0.1);
        }

    }

    .nitro-purse-seasonal-currency {
        background-color: rgba($dark, .95);
        box-shadow: inset 0px 5px lighten(rgba($dark, .6),2.5), inset 0 -4px darken(rgba($dark, .6), 4);
    }
}
