@font-face {
  font-family: Ubuntu;
  src: url('@/assets/webfonts/Ubuntu-C.ttf');
}

@font-face {
  font-family: UbuntuBold;
  src: url('@/assets/webfonts/Ubuntu-b.ttf');
}

@font-face {
  font-family: VolterBold;
  src: url('@/assets/webfonts/VolterBold.ttf');
}

@font-face {
  font-family: Volter;
  src: url('@/assets/webfonts/Volter-bkp.ttf');
}

@font-face {
  font-family: Goldfish;
  src: url('../webfonts/Volter.ttf');
}

@font-face {
  font-family: "pixel";
  src: url(@/assets/webfonts/Volter__28Goldfish_29.ttf) format("truetype");
}
@font-face {
  font-family: "pixel-bold";
  src: url(@/assets/webfonts/Volter_Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Alternative";
  src: url(@/assets/webfonts/Ubuntu.fe51027c.fe51027c.woff2) format("woff2"), 
  url(@/assets/webfonts/Ubuntu.dd2dbe9b.dd2dbe9b.woff) format("woff"),
  url(@/assets/webfonts/Ubuntu.f5c1bf9c.f5c1bf9c.ttf) format("truetype"),
  url(@/assets/webfonts/Ubuntu.173a7282.173a7282.svg) format("svg"),
  url(@/assets/webfonts/Ubuntu.ff446c7a.ff446c7a.eot),
  url(@/assets/webfonts/Ubuntu.ff446c7a.ff446c7a.eot) format("embedded-opentype")
}
