@font-face {
    font-family: Ubuntu;
    src: url('@/assets/webfonts/Ubuntu-C.ttf');
}
@font-face {
    font-family: VolterBold;
    src: url('@/assets/webfonts/VolterBold.ttf');
}

@font-face {
    font-family: Volter;
    src: url('@/assets/webfonts/Volter.ttf');
}
